<div class="blogs">
    <app-usernavbar></app-usernavbar>
    <div class="container pb-3">
        <div class="col-lg-12 col-sm-12 mt-5">
            <h1 class="texts" style="text-align: center;color: rgb(0, 0, 0);">About FlipZone</h1>
            <br>
            <p class="texts" style="color: rgb(0, 0, 0)">FlipZone is India's fastest-growing internet commerce company aiming to make eCommerce accessible to everyone.
                FlipZone's is to enable 100 million small businesses in India, including individual entrepreneurs,
                to succeed online. FlipZone is democratizing internet commerce by bringing a range of products and new customers online.
                What started, six years ago, as a reseller-focused platform enabling millions to sell online,
                 has now emerged as a single ecosystem connecting sellers to consumers and entrepreneurs.
            </p>
        </div>
        
        <div class="row">
            <div class="col-lg-6 col-sm-12 mt-2">
                <h1>Our Philosophies That had an impact on Customers</h1>
                <img class="im1" style="border-radius:30px;" src="assets/images/furnitures.jpeg">
            </div>
            <div class="col-lg-6 col-sm-12 mt-2">
                <img class="im2" style="border-radius:30px;" src="assets/images/sign-up-pics.jpeg">   
                <h1>Roasting exquisite T-shirts while making an impact at origin and at home.</h1>
                    <p class="">Taking Good Care of Our Coffee, Our People, Our Farmers, Our Planet

                        Established in 2010 in downtown Floyd, VA (pop 432), Red Rooster was created with the simple notion of roasting excellent coffee for the owner’s existing coffee house. Soon, word of Red Rooster's quality spread around Virginia and up and down the East Coast.
                        
                        Today, we employ over 40 people while roasting some of the best coffee in the world.
                        
                        While we've won numerous awards and accolades for our coffee quality, our true passion is in making a positive social impact both at home and abroad at the coffee's origin.</p>
            </div>
        </div>
        <div class=" col-12 col-md-12 brand-section text-center">
            <div class=" ">
                <h2 class="" style="font-family:'PT Serif', serif; font-weight:bold;">Brands</h2>
                <div class="">
                    <marquee width="100%" direction="left" height="100px"  scrollamount="30">
                        <img class="mr-5" src="assets/images/vestiage.png" height="120vh">
                        <img class="mr-5" src="assets/images/southwest.png" height="120vh">
                        <img class="mr-5" src="assets/images/nikon.png" height="120vh">
                        <img class="mr-5" src="assets/images/fedex.png" height="120vh">
                        <img class="mr-5" src="assets/images/peterbilt.png" height="120vh">
                        <img class="mr-5" src="assets/images/2k.png" height="120vh">
                        <img class="mr-5" src="assets/images/genda.png" height="120vh">
                        <img class="mr-5" src="assets/images/southwest.png" height="120vh">
                        <img class="mr-5" src="assets/images/vestiage.png" height="120vh">
                    </marquee>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6 col-sm-12 p-4 vm">
                <h2 class="texts" style="text-align: center;">Our Mission</h2>
                <br>
            <p class="texts" style="text-align: center;">Now every wish will come true 
                We strive to offer our customers the lowest possible prices, 
                the best available selection, and the utmost convenience.
                Democratize internet commerce for everyone
            </p>
            </div>
            
            <div class="col-lg-6 col-sm-12 p-4" style="color: rgb(0, 0, 0);">
                <h2 class="texts" style="text-align: center;">Our Vission</h2>
                <br>
            <p class="texts" style="text-align: center;">Now every wish will come true
                We strive to offer our customers the lowest possible prices, 
                the best available selection, and the utmost convenience.
                Democratize internet commerce for everyone
            </p>
            </div>
        </div>
    </div>
</div>
<app-user-footer></app-user-footer>