<div class="blogs">
    <app-usernavbar></app-usernavbar>
    <div class="container">
        <div class="mt-5 row">
            <div class="col-12 col-md-6 text-left">
                <h1>Our Philosophies That had an impact on Customers</h1>
                <div class="mt-5 d-flex flex-column min-vh-50">
                    <img style="border-radius:30px;" src="assets/images/sign-up-pics.jpeg" width="100%" height="95%">
                </div>
            </div>
            <div class="col-12 col-md-6 text-left min-vw-50">
                <img style="border-radius:30px;" src="assets/images/furnitures.jpeg" height="50%" width="100%">
                <div class="mt-5 d-flex flex-column">
                    <h1>Roasting exquisite T-shirts while making an impact at origin and at home.</h1>
                    <p class="mt-3 pb-4">Taking Good Care of Our Coffee, Our People, Our Farmers, Our Planet

                        Established in 2010 in downtown Floyd, VA (pop 432), Red Rooster was created with the simple notion of roasting excellent coffee for the owner’s existing coffee house. Soon, word of Red Rooster's quality spread around Virginia and up and down the East Coast.
                        
                        Today, we employ over 40 people while roasting some of the best coffee in the world.
                        
                        While we've won numerous awards and accolades for our coffee quality, our true passion is in making a positive social impact both at home and abroad at the coffee's origin.</p>
                </div>
            </div>
            <div class="mt-5 col-12 col-md-12 brand-section text-center mb-3">
                <div class="d-flex flex-column">
                    <h2 class="mt-3" style="font-family:'PT Serif', serif; font-weight:bold;">Brands</h2>
                    <div class="mt-3 mb-3">
                        <marquee width="100%" direction="left" height="100px"  scrollamount="30">
                            <img class="mr-5" src="assets/images/vestiage.png" height="120vh">
                            <img class="mr-5" src="assets/images/southwest.png" height="120vh">
                            <img class="mr-5" src="assets/images/nikon.png" height="120vh">
                            <img class="mr-5" src="assets/images/fedex.png" height="120vh">
                            <img class="mr-5" src="assets/images/peterbilt.png" height="120vh">
                            <img class="mr-5" src="assets/images/2k.png" height="120vh">
                            <img class="mr-5" src="assets/images/genda.png" height="120vh">
                            <img class="mr-5" src="assets/images/southwest.png" height="120vh">
                            <img class="mr-5" src="assets/images/vestiage.png" height="120vh">
                        </marquee>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-user-footer></app-user-footer>