<body>
    <app-usernavbar></app-usernavbar>
<div class="container shadow" style="background-color: #6F8FAF;border-radius: 30px;">
   <div class="">
    <div class="text-center">
        <h2 style="color: white;" class="pl-3  pt-3">Blogs</h2>
    </div>
       <div class="p-4 row align-items-center justify-content-between" >
        <div class="col-lg-6 col-sm-12  fashion" style="border-radius: 30px;">
            <!-- <img src="assets/images/fashion-1.png" style="border-radius: 30px;" height="400px" width="550px"> -->
        </div>
        <div class="col-lg-6 col-sm-12 text-light  p-3 justify-content-center ">
            <h1>Fashion</h1>
            <p>Fashion forecasting is the prediction of mood, behavior and buying habits of the
                consumer that focuses on upcoming trends.
                It is very important part of fashion scene because when a new garment is designed by a designer and worn,
                it will not create fashion by itself. It needs to spread fashion with different media.
                Fashion forecasting is commonly done by many communicating media, such as, fashion shows, cinema,
                newspapers, press, fashion magazines and window display.</p>
            <div class="d-flex flex-row">
                <button type="submit" class="btn button mt-3 w-100 "  (click)="navigate(1)">READ MORE</button>
            </div>
        </div>
    </div>
    <div class="p-4 row align-items-center justify-content-between" >
        <div class="col-lg-6 col-sm-12 order-2  elec"  style="border-radius: 30px;">
            <!-- <img src="assets/images/electronics.png" style="border-radius: 30px;" height="400px" width="550px"> -->
        </div>
        <div class="col-lg-6 col-sm-12 text-light order-1 p-3 justify-content-center  econt">
            <h1>Electronics</h1>
            <p>Electronic devices have become an essential part of our daily routines, 
                with many of us relying on smartphones, laptops, and other electronic devices for work, education, and entertainment.
                The field of electronics is constantly evolving, with new technologies and applications being developed all the time. 
                This has led to the creation of new products and services that have changed the way we interact with the world around us.
                Electronic devices work by controlling the flow of electrons through circuits made up of various components such as resistors, capacitors, and transistors.</p>
            <div class="d-flex flex-row">
                <button type="submit" class="btn button mt-3 w-100 "  (click)="navigate(2)">READ MORE</button>
            </div>
        </div>
    </div>
    <div class="p-4 row align-items-center justify-content-between" >
        <div class="col-lg-6 col-sm-12  furnitures" style="border-radius: 30px;">
            <!-- <img src="assets/images/fashion-1.png" style="border-radius: 30px;" height="400px" width="550px"> -->
        </div>
        <div class="col-lg-6 col-sm-12 text-light  p-3 justify-content-center ">
            <h1>Furnitures</h1>
            <p>Furniture refers to the various movable objects and accessories that are designed to support human activities, 
                such as seating, sleeping, eating, and storage. Furniture is an essential part of interior design, 
                as it not only provides functional benefits but also adds aesthetic value to living and workspaces.
                Furniture plays an important role in enhancing the functionality and aesthetics of homes, offices, and other public spaces. 
                Furniture comes in a wide range of styles, materials, and sizes, ranging from traditional to contemporary designs. 
                Common types of furniture include chairs, tables, sofas, beds, cabinets, and bookshelves.</p>
            <div class="d-flex flex-row">
                <button type="submit" class="btn button mt-3 w-100 "  (click)="navigate(3)">READ MORE</button>
            </div>
        </div>
    </div>
    <div class="p-4 row align-items-center justify-content-between" >
        <div class="col-lg-6 col-sm-12 order-2  menacc"  style="border-radius: 30px;">
            <!-- <img src="assets/images/electronics.png" style="border-radius: 30px;" height="400px" width="550px"> -->
        </div>
        <div class="col-lg-6 col-sm-12 text-light order-1 p-3 justify-content-center  econt">
            <h1>Mens Accessories</h1>
            <p>Accessories can be used to add personality, sophistication, and style to a man's outfit. 
                They can be used to complement and accentuate clothing choices, creating a polished and well-put-together look. 
                For example, a stylish leather belt can complete a suit, while a patterned tie can add a pop of color and texture to a plain shirt.
                Accessories can also be functional, providing practical benefits such as keeping important items organized and easily accessible. F
                or example, a leather wallet can keep money and cards in one place, while a watch can provide both timekeeping and a fashionable statement piece.</p>
            <div class="d-flex flex-row">
                <button type="submit" class="btn button mt-3 w-100 "  (click)="navigate(4)">READ MORE</button>
            </div>
        </div>
    </div>
    <div class="p-4 row align-items-center justify-content-between" >
        <div class="col-lg-6 col-sm-12  womenacc" style="border-radius: 30px;">
            <!-- <img src="assets/images/fashion-1.png" style="border-radius: 30px;" height="400px" width="550px"> -->
        </div>
        <div class="col-lg-6 col-sm-12 text-light  p-3 justify-content-center ">
            <h1>Womens Accessories</h1>
            <p>Women's accessories are items that can be worn or carried by women to enhance their personal style and add a finishing touch to their outfit. 
                These accessories can be both functional and decorative, providing practical and aesthetic benefits.
                Women's accessories include a wide range of items, including jewelry, hats, belts, scarves, handbags, and sunglasses. 
                These accessories can be used to complement and accentuate clothing choices, creating a polished and well-put-together look.
                Jewelry is one of the most popular categories of women's accessories, and can include items such as earrings, necklaces, bracelets, and rings.</p>
            <div class="d-flex flex-row">
                <button type="submit" class="btn button mt-3 w-100 "  (click)="navigate(5)">READ MORE</button>
            </div>
        </div>
    </div>
   </div>
</div>
</body>