body{
    min-height: 100vh;
    height: auto;
    background-color: #E2F4FB;
    scroll-behavior: smooth;
}
p{
    font-family:'roboto';
    font-size: 1.1em;
}
.button{
    background-color:#6029B9;
    color:white;
    height:50px;
    border-radius:15px;
}

.fashion{
    background-image: url('src/assets/images/fas.png');
    height:50vh;
    background-repeat: no-repeat;
    background-size:cover;
 
}
.elec{
    background-image: url('src/assets/images/electro.png');
    height:50vh;
    background-repeat: no-repeat;
    background-size:cover;
}
.furnitures{
    background-image: url('src/assets/images/furnitures.jpeg');
    height:50vh;
    background-repeat: no-repeat;
    background-size:cover;
 
}
.menacc{
    background-image: url('src/assets/images/menacc.jpeg');
    height:50vh;
    background-repeat: no-repeat;
    background-size:cover;
}
.womenacc{
    background-image: url('src/assets/images/womenacc.png');
    height:50vh;
    background-repeat: no-repeat;
    background-size:cover;
 
}
@media only screen and (max-width:800px){
    .elec{
        order:1
    }
    .econt{
        order:2
    }
}