<body>
    <app-usernavbar></app-usernavbar>
<div class="container shadow" style="background-color: #6F8FAF;border-radius: 30px;">
   <div class="">
       <div class="p-4 row align-items-center justify-content-between" >
        <div class="col-lg-6 col-sm-12 w3-animate-left fashion" style="border-radius: 30px;">
            <!-- <img src="assets/images/fashion-1.png" style="border-radius: 30px;" height="400px" width="550px"> -->
        </div>
        <div class="col-lg-6 col-sm-12 text-light  p-3 justify-content-center w3-animate-right">
            <h1>Fashion</h1>
            <p>Fashion forecasting is the prediction of mood, behavior and buying habits of the
                consumer that focuses on upcoming trends.
                It is very important part of fashion scene because when a new garment is designed by a designer and worn,
                it will not create fashion by itself. It needs to spread fashion with different media.
                Fashion forecasting is commonly done by many communicating media, such as, fashion shows, cinema,
                newspapers, press, fashion magazines and window display.</p>
            <div class="d-flex flex-row">
                <button type="submit" class="btn button mt-3 w-100 w3-animate-top"  (click)="navigate()">READ MORE</button>
            </div>
        </div>
    </div>
    <div class="p-4 row align-items-center justify-content-between" >
        <div class="col-lg-6 col-sm-12 order-2 w3-animate-left elec"  style="border-radius: 30px;">
            <!-- <img src="assets/images/electronics.png" style="border-radius: 30px;" height="400px" width="550px"> -->
        </div>
        <div class="col-lg-6 col-sm-12 text-light order-1 p-3 justify-content-center w3-animate-right econt">
            <h1>Electronics</h1>
            <p>Fashion forecasting is the prediction of mood, behavior and buying habits of the
                consumer that focuses on upcoming trends.
                It is very important part of fashion scene because when a new garment is designed by a designer and worn,
                it will not create fashion by itself. It needs to spread fashion with different media.
                Fashion forecasting is commonly done by many communicating media, such as, fashion shows, cinema,
                newspapers, press, fashion magazines and window display.</p>
            <div class="d-flex flex-row">
                <button type="submit" class="btn button mt-3 w-100 w3-animate-top"  (click)="navigate()">READ MORE</button>
            </div>
        </div>
    </div>
    <div class="p-4 row align-items-center justify-content-between" >
        <div class="col-lg-6 col-sm-12 w3-animate-left furnitures" style="border-radius: 30px;">
            <!-- <img src="assets/images/fashion-1.png" style="border-radius: 30px;" height="400px" width="550px"> -->
        </div>
        <div class="col-lg-6 col-sm-12 text-light  p-3 justify-content-center w3-animate-right">
            <h1>Furnitures</h1>
            <p>Fashion forecasting is the prediction of mood, behavior and buying habits of the
                consumer that focuses on upcoming trends.
                It is very important part of fashion scene because when a new garment is designed by a designer and worn,
                it will not create fashion by itself. It needs to spread fashion with different media.
                Fashion forecasting is commonly done by many communicating media, such as, fashion shows, cinema,
                newspapers, press, fashion magazines and window display.</p>
            <div class="d-flex flex-row">
                <button type="submit" class="btn button mt-3 w-100 w3-animate-top"  (click)="navigate()">READ MORE</button>
            </div>
        </div>
    </div>
    <div class="p-4 row align-items-center justify-content-between" >
        <div class="col-lg-6 col-sm-12 order-2 w3-animate-left menacc"  style="border-radius: 30px;">
            <!-- <img src="assets/images/electronics.png" style="border-radius: 30px;" height="400px" width="550px"> -->
        </div>
        <div class="col-lg-6 col-sm-12 text-light order-1 p-3 justify-content-center w3-animate-right econt">
            <h1>Mens Accessories</h1>
            <p>Fashion forecasting is the prediction of mood, behavior and buying habits of the
                consumer that focuses on upcoming trends.
                It is very important part of fashion scene because when a new garment is designed by a designer and worn,
                it will not create fashion by itself. It needs to spread fashion with different media.
                Fashion forecasting is commonly done by many communicating media, such as, fashion shows, cinema,
                newspapers, press, fashion magazines and window display.</p>
            <div class="d-flex flex-row">
                <button type="submit" class="btn button mt-3 w-100 w3-animate-top"  (click)="navigate()">READ MORE</button>
            </div>
        </div>
    </div>
    <div class="p-4 row align-items-center justify-content-between" >
        <div class="col-lg-6 col-sm-12 w3-animate-left womenacc" style="border-radius: 30px;">
            <!-- <img src="assets/images/fashion-1.png" style="border-radius: 30px;" height="400px" width="550px"> -->
        </div>
        <div class="col-lg-6 col-sm-12 text-light  p-3 justify-content-center w3-animate-right">
            <h1>Womens Accessories</h1>
            <p>Fashion forecasting is the prediction of mood, behavior and buying habits of the
                consumer that focuses on upcoming trends.
                It is very important part of fashion scene because when a new garment is designed by a designer and worn,
                it will not create fashion by itself. It needs to spread fashion with different media.
                Fashion forecasting is commonly done by many communicating media, such as, fashion shows, cinema,
                newspapers, press, fashion magazines and window display.</p>
            <div class="d-flex flex-row">
                <button type="submit" class="btn button mt-3 w-100 w3-animate-top"  (click)="navigate()">READ MORE</button>
            </div>
        </div>
    </div>
   </div>
</div>
</body>