<body>
    <app-business-navbar></app-business-navbar>
    <div class="container">
        <div class="row">
          <div class="orders mx-auto" style="width: 1000px;">
            <table class="table">
              <tr>
                <th>S.no</th>
                <th>Product Image</th>
                <th>Model</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Date of order</th>
                <!-- <th>Date of delivery</th> -->
              </tr>
              <tr *ngFor="let item of orders; let i = index">
                <td class="pt-4">{{ i + 1 }}</td>
                <td class="text-center"><img src="{{ item.photo }}" height="80vh" /></td>
                <td class="pt-3">{{ item.brandName }}{{ item.productName }}</td>
                <td class="pt-3">{{ item.quantity }}</td>
                <td class="pt-3">{{ item.price }}</td>
                <td class="pt-3">{{ time }}</td>
                <!-- <td class="pt-3">{{ dtime }}</td> -->
              </tr>
              <!-- <tr>
                <td class="pt-4">2</td>
                <td><img src="assets/images/iwatch.png" height="80vh"></td>
                <td class="pt-3">Apple watch Ultra(8GB 256GB)</td>
                <td class="pt-3">899$</td>
                <td class="pt-3">{{time}}</td>
                <td class="pt-3">{{time}}</td>
            </tr> -->
            </table>
          </div>
        </div>
      </div>
</body>

