.main-back{
    background-image: url('src/assets/images/sign-up-pic.jpg');
    height:100vh;
    background-size:cover;
}
.main-back-2{
    background-color:#D7EFFB;
    height:100vh;
}
.cont-heading{
    color:#2888A9;
}
.cardd{
    padding:6em;
}
@media only screen and (max-width:400px){
    .cardd{
      padding:2em;
    }
  }
input{
    height:50px;
    border-radius:15px;
}
.button{
    background-color:#6029B9;
    color:white;
    height:50px;
    border-radius:15px;
}