<div class="body p-3">
  <div class=" col-12  p-3 main shadow">
   <div class="row justify-content-around">
     <div class="col-2 card p-1" style="border: 2px solid #005B4A;border-radius: 10px;" (click)="admin('customers')" >
      <div class="d-flex flex-row align-items-center">
        <div  class="p-2"><img src="assets/images/people.png" alt="" height="50px"></div>
        <div class="ml-3 "style="line-height:.5em;">
           <p><b>Customers</b></p>
           <span>2</span>
        </div>
      </div>
     </div>
     <div class="col-2 card p-1" style="border: 2px solid #005B4A;border-radius: 10px;" (click)="admin('Business')">
      <div class="d-flex flex-row align-items-center">
        <div class="p-2"><img src="assets/images/teamwork.png" alt="" height="50px"></div>
        <div class="ml-3 "style="line-height:.5em;">
           <p><b>Business sellers</b></p>
           <span>2</span>
        </div>
      </div>
     </div>
     <div class="col-2 card p-1" style="border: 2px solid #005B4A;border-radius: 10px;"(click)="admin('products')">
      <div class="d-flex flex-row align-items-center">
        <div class="p-2"><img src="assets/images/prod.png" alt="" height="50px"></div>
        <div class="ml-3 "style="line-height:.5em;">
           <p><b>Products</b></p>
           <span>2</span>
        </div>
      </div>
     </div>
   </div>
  </div>

  <div class="col-12  p-3 main shadow mt-4 cont">
    <app-admin-products *ngIf="adminpage =='products'"></app-admin-products>
    <app-buisness-sellers *ngIf="adminpage =='Business'"></app-buisness-sellers>
    <div *ngIf="adminpage =='customers'">
      <table class="table">
        <tr style="background-color: #005B4A;color: white;">
          <th>Customers name</th>
          <th>Customer email</th>
          <th>Customer address</th>
          <th>Queries</th>
        </tr>
        <tr>
          <td>Ramji</td>
          <td>ramjits777@gmail.com</td>
          <td>avaniyapuram</td>
          <td>Nothing</td>
        </tr>
      </table>
    </div>
    
  </div>
</div>