<body
  style="
    background-color: #ddf1f8;
    height: 100vh;
    width: 100%;
  "
>
  <div class="row" style="padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;">
    <div
      class="col-lg-2 col-5"
      style="
        box-sizing: border-box;
        height: auto;
        width: auto;
        background-image:linear-gradient(45deg,#6F8FAF,#DAE7EF);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: -5px;
        padding-right: -5px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 5px solid black;
        color: black;
        text-align: center;
        text-transform: uppercase;
      "
    >
      <h4>Sellers :</h4>
      <h3>1000000</h3>
    </div>
    <div
      class="col-lg-2 col-5"
      style="
        box-sizing: border-box;
        height: auto;
        width: auto;
        background-image:linear-gradient(45deg,#6F8FAF,#DAE7EF);;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: -5px;
        padding-right: -5px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 5px solid black;
        color: black;
        text-align: center;
        text-transform: uppercase;
      "
    >
      <h4>Customers :</h4>
      <h3>10</h3>
    </div>
    <div
      class="col-lg-2 col-5"
      style="
        box-sizing: border-box;
        height: auto;
        width: auto;
        background-image:linear-gradient(45deg,#6F8FAF,#DAE7EF);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: -5px;
        padding-right: -5px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 5px solid black;
        color: black;
        text-align: center;
        text-transform: uppercase;
      "
    >
      <h4>Product :</h4>
      <h3>10</h3>
    </div>
    <div
      class="col-lg-2 col-5"
      style="
        box-sizing: border-box;
        height: auto;
        width: auto;
        background-image:linear-gradient(45deg,#6F8FAF,#DAE7EF);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: -5px;
        padding-right: -5px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 5px solid black;
        color: black;
        text-align: center;
        text-transform: uppercase;
      "
    >
      <h4>orders :</h4>
      <h3>100000000</h3>
    </div>
    <div
      class="col-lg-2 col-5"
      style="
        box-sizing: border-box;
        height: auto;
        width: auto;
        background-image:linear-gradient(45deg,#6F8FAF,#DAE7EF);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: -5px;
        padding-right: -5px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 5px solid black;
        color: black;
        text-align: center;
        text-transform: uppercase;
      "
    >
      <h4>delivered :</h4>
      <h3>100000000</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
        <table>
            <tr>
                
            </tr>
        </table>
    </div>
  </div>
</body>
