<footer style="background-color: white; margin-top: 3em;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                <div class="single-footer-caption mb-50">
                    <div class="single-footer-caption mb-30">
                        <div class="col-xl-2 col-lg-2 col-sm-12">

                            <div class="footer-social f-right">
                                <a class="navbar-brand" href="#" style="font-family: 'Pacifico', cursive; letter-spacing: 3px ; color: black;font-size: large;"><i class="fa fa-shopping-cart" aria-hidden="true"></i> FlipZone</a>
                                <a class="navbar-brand animatecart" href="#" style="font-size: medium;" ><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a>
                                <a class="navbar-brand animatecart" href="#" style="font-size: medium;"><i class="fab fa-facebook-f" aria-hidden="true"></i> Facebook</a>
                                <a class="navbar-brand animatecart" href="#" style="font-size: medium;"><i class="fas fa-globe" aria-hidden="true"></i> Telegram</a>
                                <a class="navbar-brand animatecart" href="#" style="font-size: medium;"><i class="fab fa-instagram" aria-hidden="true"></i> Instagram</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h5>Getting started</h5>
                        <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Release Notes</a><br>
                        <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Upgrade Guide</a><br>
                        <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Browser Support</a><br>
                        <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Dark Mode</a><br>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h5>Explore</h5>
                        <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Prototyping</a><br>
                        <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Design systems</a><br>
                        <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Pricing</a><br>
                        <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Security</a><br>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h5>Resources</h5>
                        <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Best practices</a><br>
                        <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Support</a><br>
                        <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Developers</a><br>
                        <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Learn design</a><br>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h5>Community</h5>
                        
                            <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Discussion Forums</a><br>
                            <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Code of Conduct</a><br>
                            <a class="navbar-brand animatecart" href="#" style="font-size: medium;">Contributing</a><br>
                            <a class="navbar-brand animatecart" href="#" style="font-size: medium;">API Reference</a><br>
                        
                        <!-- <p>Release Notes</p>
                        <p>Upgrade Guide</p>
                        <p>Browser Support</p>
                        <p>Dark Mode</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>