body {
  background-color: #d5ecf5;
  min-height: 100vh;
  height: auto;
}
.cardd {
  background-image: linear-gradient(45deg, #6f8faf, #dae7ef);
  color: black;
  width: 20vw;
  border-radius: 20px;
}
.wishlist {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: left;
}
.fa-beat {
  animation-iteration-count: 2 !important;
}
.fa-beat:hover {
  animation-iteration-count: infinite !important;
}
.chip {
  background-color: #dae7ef;
  height: 5vh;
  width: 5vw;
  border-radius: 30px;
}
