.cardd{
  background-image:linear-gradient(45deg,#6F8FAF,#DAE7EF);
  color:black;
  width:20vw;
  border-radius: 20px;
}
.wishlist{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.chip{
  background-color:#DAE7EF;
  height:5vh;
  width: 5vw;
  border-radius:30px;
}