<div class="profile min-vh-100 pb-3">
  <app-business-navbar class="fixed-top"></app-business-navbar>
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-md-3 d-flex flex-column justify-content-center min-vh-100"
      >
        <div
          class="cardd shadow d-flex flex-column justify-content-center"
        >
          <div class="mt-2 d-flex flex-row cardd shadow pl-4">
            <h3 class="mt-2 profile-icon mr-4 pl-4 pt-3" style="text-transform: uppercase;">{{firstletter}}</h3>
            <div class="mt-2">
              <h5>{{bon}}</h5>
              <h6 class="mt-2">{{ date | date:'MMM dd,y' }}</h6>
            </div>
          </div>
          <div class="mt-3 d-flex flex-row">
            <i class="ml-2 mt-2 fa-solid fa-user"></i>
            <p class="ml-4 mt-1" style="cursor: pointer;" (click)="wishlistnav('profile')">My Profile</p>
          </div>
          <div class="mt-2 d-flex flex-row">
            <i class="ml-2 mt-2 fa-solid fa-wallet"></i>
            <p class="ml-4 mt-1" style="cursor: pointer;" (click)="wishlistnav('wallet')">Wallet</p>
          </div>            
          <!-- <div class="mt-2 mb-2 d-flex flex-row" style="border-top:2px solid #D5CABD;">
                            <i class="ml-2 mt-3 pt-1 fa-solid fa-bag-shopping"></i>
                            <p class="ml-4 mt-3">My Orders</p>
                        </div>
                        <div class="mt-2 mb-2 d-flex flex-row" style="border-top:2px solid #D5CABD;">
                            <i class="ml-2 mt-3 pt-1 fa-solid fa-wallet"></i>
                            <p class="ml-4 mt-3">Wallet</p>
                        </div> -->
          <div class="d-flex flex-row">
            <i class="ml-2 mt-1 pt-1 fa-solid fa-lock"></i>
            <p class="ml-4 mt-1" style="cursor: pointer;"  (click)="wishlistnav('password')">Reset Password</p>
          </div>
          <div
            class="mt-2 d-flex flex-row"
            style="border-top: 2px solid #d5cabd"
          >
            <i class="ml-2 mt-3 pt-1 fa-solid fa-power-off"></i>
            <p class="ml-4 mt-3" style="cursor: pointer;">Log Out</p>
          </div>
        </div>
      </div>
      <div
        class="ml-5 mt-5 mb-1 col-12 col-md-8 d-flex flex-column justify-content-center"
      >
        <div class="cont-heading text-center">
          <h2>Good Morning! {{bon}}</h2>
        </div>
        <div class="cardd shadow">
          <!-- <app-wishlist *ngIf="wishlist=='wishlist'"></app-wishlist>
                        <app-myorders *ngIf="wishlist=='order'"></app-myorders>
                        <app-changepassword *ngIf="wishlist=='password'"></app-changepassword>
                        <app-wallet *ngIf="wishlist=='wallet'"></app-wallet> -->
          <app-business-changepassword
          *ngIf="wishlist=='password'"
          ></app-business-changepassword>
          <app-business-wallet  *ngIf="wishlist=='wallet'"></app-business-wallet>
          <form *ngIf="wishlist=='profile'" [formGroup]="bprofile">
            <div>
              <div class="pl-5 pt-3 d-flex flex-row">
                <div>
                  <label class="pl-1">Company Name</label>
                  <input
                    type="text"
                    placeholder="Company Name"
                    [ngClass]="{
                      'is-invalid': add.bCompanyName.touched && add.bCompanyName.errors
                    }"
                    formControlName="bCompanyName"
                    class="form-control"
                  />
                  <!-- <span
                    *ngIf="add.bCompanyName.errors && add.bCompanyName.touched"
                    class="text-danger"
                    >Company Required</span
                  > -->
                </div>
                <div class="ml-auto mr-5">
                  <label class="pl-1">Owner Name</label>
                  <input
                    type="text"
                    placeholder="Owner Name"
                    [ngClass]="{
                      'is-invalid': add.bOwnerName.touched && add.bOwnerName.errors
                    }"
                    formControlName="bOwnerName"
                    class="form-control"
                  />
                  <!-- <span
                    *ngIf="add.bCompanyName.errors && add.bCompanyName.touched"
                    class="text-danger"
                    >Company Required</span
                  > -->
                </div>
              </div>
              <div class="pl-5 pt-3 d-flex flex-row">
                <div>
                  <label class="pl-1">Email</label>
                  <input
                    type="text"
                    placeholder="Email"
                    [ngClass]="{
                      'is-invalid': add.email.touched && add.email.errors
                    }"
                    formControlName="email"
                    class="form-control"
                    readonly
                  />
                  <!-- <span
                    *ngIf="add.bmail.errors && add.bmail.touched"
                    class="text-danger"
                    >Email ID Required</span
                  > -->
                </div>
                <div class="ml-auto mr-5">
                  <label class="pl-1">Contact Number</label>
                  <input
                    type="text"
                    placeholder="contact"
                    [ngClass]="{
                      'is-invalid': add.bmobile.touched && add.bmobile.errors
                    }"
                    formControlName="bmobile"
                    class="form-control"
                  />
                  <!-- <span
                    *ngIf="add.bmobile.errors && add.bmobile.touched"
                    class="text-danger"
                    >Phone Number Required</span
                  > -->
                </div>
              </div>
              <!-- <div class="pl-5 pt-3 d-flex flex-row">
                                <div>
                                    <label class="pl-1">Birthdate</label>
                                    <input type="date" class="form-control">
                                </div>
                                <div class="ml-auto mr-5 gender">
                                    <div>
                                        <label class="pl-1">Gender</label>
                                        <select class="form-control w-100" style="border-radius: 15px;">
                                        <option>Choose a option</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>other</option>
                                        </select>
                                    </div>
                                </div>
                        </div> -->
              <div class="pl-5 pt-3 d-flex flex-row">
                <div>
                  <label>Address</label>
                  <textarea
                    row="4"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': add.baddress.touched && add.baddress.errors
                    }"
                    placeholder="address"
                    formControlName="baddress"
                  ></textarea>
                  <!-- <span
                    *ngIf="add.baddress.errors && add.baddress.touched"
                    class="text-danger"
                    >Address Required</span
                  > -->
                </div>
                <!-- <div class="ml-auto mr-5">
                  <label class="pl-1">Password</label>
                  <input
                    type="text"
                    placeholder="password"
                    formControlName="Password"
                    class="form-control"
                    readonly
                  />
                
                </div> -->
              </div>
              <div class="d-flex flex-row justify-content-center">
                <button
                  type="submit"
                  (click)="onSubmit()"
                  class="btn button mb-3"
                >
                  Save Changes
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
