<!-- <div class="container-fluid" style="background-image:linear-gradient(45deg,black,grey,black);color:wheat;">
    <div class="row">
        <div class="col-12 col-md-7 min-vh-100 d-flex flex-column justify-content-center align-items-center">
            <img src="{{this.product.imageurl}}" height="50%" width="40%">
        </div>
        <div class="col-12 col-md-5">
            <h3>{{this.product.ProductName}}</h3>
            <h5 style="color:grey;">Men Grey Mesh Glowrun Reflective Running Shoe</h5>
            <hr style="border:1px solid grey ;">
            <h4>₹{{this.product.price}} MRP <span class="pl-2" style="color:grey;text-decoration:line-through;">₹4599</span><span class="pl-2"style="color:orange;">(50 % OFF)</span></h4>
            <h6 class="mt-3 text-success">Inclusive of all taxes</h6>
            <h5 class="mt-4">SELECT SIZE (UK size)</h5>
            <div class="mt-3 d-flex flex-row">
                <div class="text-center" style="border:1px solid grey ;border-radius: 60%;">
                    <h6 class="pl-3 pr-3 pt-2 pb-2 mt-1">6</h6>
                </div>
                <div class="ml-3 text-center" style="border:1px solid grey ;border-radius: 60%;">
                    <h6 class="pl-3 pr-3 pt-2 pb-2 mt-1">7</h6>
                </div>
                <div class="ml-3 text-center" style="border:1px solid grey ;border-radius: 60%;">
                    <h6 class="pl-3 pr-3 pt-2 pb-2 mt-1">8</h6>
                </div>
                <div class="ml-3 text-center" style="border:1px solid grey ;border-radius: 60%;">
                    <h6 class="pl-3 pr-3 pt-2 pb-2 mt-1">9</h6>
                </div>
                <div class="ml-3 text-center" style="border:1px solid grey ;border-radius: 60%;">
                    <h6 class="pl-3 pr-3 pt-2 pb-2 mt-1">10</h6>
                </div>
                <div class="ml-3 text-center" style="border:1px solid grey ;border-radius: 60%;">
                    <h6 class="pl-3 pr-3 pt-2 pb-2 mt-1">11</h6>
                </div>
                <div class="ml-3 text-center" style="border:1px solid grey ;border-radius: 60%;">
                    <h6 class="pl-3 pr-3 pt-2 pb-2 mt-1">12</h6>
                </div>
            </div>
            <div class="mt-4 d-flex flex-row">
                <button class="btn btn-success pr-4 pl-4 pt-2 pb-2"><i class="mr-2 fa-solid fa-bag-shopping"></i>Add To Bag</button>
                <button class="ml-3 btn pr-4 pl-4 pt-2 pb-2" style="border:1px solid grey;" (click)="wishlist()"><i class="mr-2 fa-sharp fa-solid fa-heart"></i>Wishlist</button>
            </div>
            <hr style="border:1px solid grey ;">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#description" role="tab" aria-controls="home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#specification" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="home-tab">
                    <p>
                        A pair of grey running shoes, has regular Styling, lace-ups detail<br>
                        Mesh upper<br>
                        Cushioned footbed<br>
                        Textured and patterned outsole<br>
                        High density printing with a beautiful gradient effect enhancing the visual appeal of the shoe.<br>
                        Ortholite socks for more cushioning and comfort.<br>
                        Nova midsole : Midsole provides extra comfort and cushioning.<br>
                        Nova outsole : durable, long lasting wear , ultimate traction and grip on multiple surface<br>
                        Warranty: 3 months<br>
                        Warranty provided by brand / manufacturer<br>
                    </p>
                </div>
                <div class="tab-pane fade" id="specification" role="tabpanel" aria-labelledby="profile-tab">
                    <p>
                        Upper material: Mesh<br>
                        Sole material: Rubber<br>
                        Wipe with a clean. dry cloth when needed<br>
                    </p>
                </div>
              </div>
              <hr style="border:1px solid grey ;">
              <div class="mt-4">
                <ul style="font-weight: bold;">
                    <li>100% Original Products</li>
                    <li>Pay on delivery might be available</li>
                    <li>Easy 14 days returns and exchanges</li>
                    <li>Try & Buy might be available</li>
                    </ul>
              </div>
        </div>
    </div>
</div> -->