.productView{
    background-color:#DAE7EF;
    background-size: cover;
    min-height: 100vh;
}
.product-img{
    background-color:#6F8FAF;
}
.min-vh-80{
    min-height:40vh;
}
.color-button{
    border-radius: 50% !important;
}
.chip{
    background-color:transparent;
    border:2px solid black;
    height:5vh;
    width: 100px;
    border-radius:30px;
}
.cont-heading{
    color:black;
}
.chip-option{
    background-color: #b3478c;
    height:5vh;
    width: 30px;
    border-radius:50%;
}
.chip-unslected{
    background-color: #ffa764;
    border-radius:50%;
    height:5vh;
    width: 30px;
}
.chip-unslected1{
    background-color: #3de68b;
    border-radius:50%;
    height:5vh;
    width: 30px;
}
.chip-unslected2{
    background-color: #a11f2a;
    border-radius:50%;
    height:5vh;
    width: 30px;
}
.chip-unslected3{
    background-color: #1e62c0;
    border-radius:50%;
    height:5vh;
    width: 30px;
}
.chip-unslected4{
    background-color: #ffbf00;
    border-radius:50%;
    height:5vh;
    width: 30px;
}
.button{
    background-color:#6029B9;
    color:white;
    height:50px;
    border-radius:15px;
}