<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background: transparent;"
>
  <a
    class="navbar-brand animatecart"
    href="#"
    style="font-family: 'Pacifico', cursive; letter-spacing: 3px"
    ><i class="fa fa-shopping-cart" aria-hidden="true"></i> FlipZone</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto p-2" style="width: 430px; text-align: center; font-size: 20px">
      <li class="nav-item">
        <a class="nav-link" routerLink="/businesshome">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/businesslist">Product list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/businessorder">Orders list</a>
      </li>
      <li class=" ">
        <div class="dropdown">
          <button
            class="btn mt-1"
            style="color: #41118f; font-size:19.1px;font-weight: 400;"
            type="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Add roduct
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="businessadd('Fashion')"
              >Fashion</a
            >
            <a class="dropdown-item" (click)="businessadd('Furniture')"
              >Furniture</a
            >
            <a class="dropdown-item" (click)="businessadd('Electronics')"
              >Electronics</a
            >
            <a class="dropdown-item" (click)="businessadd('Others')">Others</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div
    class="mx-auto"
    style="width: 170px; text-align: left; padding-bottom: 5px;"
  >
    <div class="navbar-brand">
      <a
        class="nav-link animatebusiness"
        style="font-family: 'Pacifico', cursive; letter-spacing: 3px"
        >Business <i class="fas fa-store-alt"></i>
      </a>
    </div>
  </div>
</nav>
