<div class="navigation col-md-4 col-12" id="navigation">
  <div class="filter">
    <i class="fa fa-filter" aria-hidden="true"></i>FILTER
  </div>
  <div class="sidebar">
    <h6>GENDER</h6>
    <div class="checklist">
      <input type="checkbox" value="male" />&nbsp;MALE <br />
      <input type="checkbox" value="female" />&nbsp;FEMALE <br />
    </div>
    <h6>PRICE RANGE</h6>
    <div class="checklist">
      <input type="checkbox" value="" />&nbsp;Up to 5000<br />
      <input type="checkbox" value="" />&nbsp;Up to 4000<br />
      <input type="checkbox" value="" />&nbsp;Up to 3000<br />
      <input type="checkbox" value="" />&nbsp;Up to 2000<br />
      <input type="checkbox" value="" />&nbsp;Up to 1000<br />
    </div>
    <h6>BRAND</h6>
    <div class="checklist">
      <input type="checkbox" value="" />&nbsp;BRAND 1<br />
      <input type="checkbox" value="" />&nbsp;BRAND 2<br />
      <input type="checkbox" value="" />&nbsp;BRAND 3<br />
      <input type="checkbox" value="" />&nbsp;BRAND 4<br />
      <input type="checkbox" value="" />&nbsp;BRAND 5<br />
    </div>
    <h6>DISCOUNT RANGE</h6>
    <div class="checklist">
      <input type="checkbox" value="" />&nbsp;Up to 10%<br />
      <input type="checkbox" value="" />&nbsp;Up to 20%<br />
      <input type="checkbox" value="" />&nbsp;Up to 30%<br />
      <input type="checkbox" value="" />&nbsp;Up to 40%<br />
      <input type="checkbox" value="" />&nbsp;Up to 50%<br />
    </div>
  </div>
</div>
