<div class="d-flex flex-row justify-content-center">
    <div class="pt-4 text-center">
        <h5>Update your Password</h5>
        <h4 class="mt-2">aathireguraj@gmail.com</h4>
    </div>
</div>
<div class="ml-5 mr-5 mt-3 pl-5 pr-5 d-flex flex-column">
    <div>
        <label>Current Password</label>
        <input class="form-control mt-2" type="password" placeholder="passsword">
    </div>
</div>
<div class="mt-3 ml-5 mb-5 mr-5 pl-5 pr-5 d-flex flex-column">
    <div>
        <label>New Password</label>
        <input class="form-control mt-2" type="password" placeholder="passsword">
    </div>
</div>
<div class="ml-5 mr-5 pl-5 pr-5 d-flex flex-row justify-content-center">
    <button class="mb-3 form-control btn button">Update password</button>
</div>
