.body{
    background-color:#E2F4FB;
    min-height: 100vh;
    height: auto;
}
.bt{
    background: transparent;
    border: none;
}
.check-cart{
    position: relative !important;
    bottom:43%;
    border: 1px solid #6029B9;
    background-color: #6029B9;

}
input[type=checkbox]{
    accent-color: #6029B9;
}
.items{
    border-right: 2px solid rgba(231, 223, 223, 0.608) !important;
}
.box{
    background-image: linear-gradient(45deg, #6f8faf, #dae7ef);
    border-radius:5px;
    /* border:3px solid #F99417; */
}
.box:hover{
  box-shadow: 0 0 10px #ccc;
}
.content{
    position: absolute;
    left:38%;
}
.size{
    border:none;
    background-color: #6029B9;
    border-radius: 5px;
    color: white;
    font-size: small;
    width:min-content;
    font-weight: 400;
}
.order{
    background-color: #6029B9;
    color: white;
    font-weight:500;
    box-shadow: none; 
}
.order:active{
    transform: translateY(2px);
}
.button{
    background-color:#6029B9;
    color:white;
    height:50px;
    border-radius:15px;
}