.profile{
    background-color:#D0E9F4;
    height: 100vh;
    background-size:cover;
}
.gender{
    padding-right: 45px;
}
.cardd{
    background-color:#6F8FAF;
    color:white;
    border-radius:20px;
}
.profile-icon{
    background-color:#D5CABD;
    border-radius:50%;
    height:50px;
    width: 50px;
    color:black;
}
.cont-heading{
    color:black;
}
input{
    border-radius: 15px; 
}
.button{
    background-color:#6029B9;
    color:white;
    height:50px;
    border-radius:15px;
}