.profile{
    background-color:#D0E9F4;
    height:auto;
    min-height: 100vh;
    background-size:cover;
    scroll-behavior: smooth;
}
.cardd{
    background-color:#6F8FAF;
    color:white;
    border-radius:20px;
}
.b{
    border: none;
    background:transparent;
    position: absolute;
    right:19px;
    top:25px;
}
.fa-bars{
 font-size:1.5em;
 color:white;
}
.profile-icon{
    background-color:#D5CABD;
    border-radius:50%;
    height:50px;
    width: 50px;
    color:black;
}
.cont-heading{
    color:black;
}
input{
    border-radius: 15px; 
}
.button{
    background-color:#6029B9;
    color:white;
    height:50px;
    border-radius:15px;
}p{
    cursor:pointer;
}