.main-back{
    background-image: url('src/assets/images/business-signup.jpg');
    height:100vh;
    background-size:cover;
}
.main-back-2{
    background-color:#D7EFFB;
    height:100vh;
}
.cont-heading{
    color:#2888A9;
}
.sp{
    position: relative;
  }
.sp i{
    position: absolute;
    bottom: 1em;
    right:2em;
  }
.cardd{
    padding:6em;
    position: relative;
}
input{
    height:50px;
    border-radius:15px;
}
.button{
    background-color:#6029B9;
    color:white;
    height:50px;
    border-radius:15px;
}