<body>
  <!-- <app-user-navbar></app-user-navbar> -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="shadow cardd text-center p-2">
          <div class="wishlist d-flex flex-row justify-content-end"><h5 class="mr-3 shadow chip pt-1"><i class="fa-regular fa-heart"></i></h5></div>
          <img class="mt-2 " src="assets/images/iphone.png" height="120vh">
          <h4>Apple Iphone 11 (6GB 512GB)</h4>
          <h5 class="mt-5">Price: $2000</h5>
          <div class="mt-2 d-flex flex-row justify-content-between">
              <button class="ml-3 shadow chip pt-1">Buy now</button>
              <h5 class="mr-3 shadow chip pt-1"><i class="fa-solid fa-cart-shopping"></i></h5>
          </div>
      </div>
    </div>
  </div>
  </div>
</body>
