body {
  /* background-image: url("src/assets/images/bg.jpg")!important; */
  background-color: #d5ecf5;
  min-height: 100vh;
  height: auto;
  background-size: cover;
}
.shoppage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
.cardd {
  margin-top: 5% ;
  background-image: linear-gradient(45deg, #6f8faf, #dae7ef);
  color: black;
  /* height: 60vh; */
  width: 20vw;
  border-radius: 20px;
}
.chip {
  background-color: #dae7ef;
  height: 5vh;
  width: 5vw;
  border-radius: 30px;
}
