<div class="common-navbar container-fluid min-vw-100 d-flex flex-row justify-content-between">
    <div>
        <nav class="mt-3 ml-5 navbar">
            <h2 class="navbar-brand" href="#">FlipZone</h2>
        </nav>
    </div>
    <div>
        <nav class="mt-3 navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="mr-4 p-2 nav-link" routerLink="/userhome" routerLinkActive="active">Home</a>
                <a class="mr-4 p-2 nav-link" routerLink="/shopping" routerLinkActive="active">Shop</a>
                <a class="mr-4 p-2 nav-link" routerLink="/blogs" routerLinkActive="active">Blog</a>
                <a class="mr-4 p-2 nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
                <a class="mr-4 p-2 nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
                <a class="mr-4 p-2 nav-link" routerLink="/cart" routerLinkActive="active">Cart</a>
              </div>
            </div>
          </nav>
    </div>
    <div class="mt-4 mr-5 text-center mt-2 d-flex flex-row">
        <div *ngIf="check!=null" class=" d-flex flex-column justify-content-center Profile-letter">
          <h6 style="text-transform: uppercase;">{{firstletter}}</h6>
        </div>
        <div class="ml-2 d-flex flex-column justify-content-center  cardd-cart" (click)="profile()">
          <h6>Profile</h6>
        </div>
    </div>
</div>