<div class="common-navbar container-fluid d-flex flex-row justify-content-between">
    <div class="logo mt-3 ">
        <nav class="">
            <h2 class="navbar-brand" href="#">FlipZone</h2>
        </nav>
    </div>
    <div class="navc mt-2 ">
        <nav class=" navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-sm-auto">
                <a class="mr-4 p-2 nav-link" routerLink="/userhome" routerLinkActive="active">Home</a>
                <a class="mr-4 p-2 nav-link" routerLink="/shopping" routerLinkActive="active">Shop</a>
                <a class="mr-4 p-2 nav-link" routerLink="/blogs" routerLinkActive="active">Blog</a>
                <a class="mr-4 p-2 nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
                <a class="mr-4 p-2 nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
                <!-- <a class="mr-4 p-2 nav-link" routerLink="/cart" routerLinkActive="active">Cart</a> -->
              </div>
            </div>
          </nav>
    </div>
      <div class="prc mt-3 text-center d-flex flex-row justify-content-end">
        <div *ngIf="check!=null" class=" d-flex flex-column justify-content-center Profile-letter">
          <h6 style="text-transform: uppercase;" class="pt-1" (click)="cart()"><i class="fa-solid fa-cart-shopping"></i></h6>
        </div>
        <div *ngIf="check!=null" class="ml-2 d-flex flex-column justify-content-center  cardd-cart" (click)="profile()" style="cursor: pointer;">
          <h6>Profile</h6>
        </div>
    </div>
   
</div>