<table class="table">
    <tr style="background-color: #005B4A;color: white;">
      <th>Product</th>
      <th>Product name</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Seller name</th>
      <th>Status</th>
    </tr>
    <tr>
      <td><img src="assets/images/shoe.png" alt="" height="90px"></td>
      <td><br> Sports shoe</td>
      <td><br>Addidas</td>
      <td><br>$200</td>
      <td><br>Ramji</td>
      <td>
        <br>
        <select class="form-control col-5" style="border:2px solid #005B4A;">
            <option value="0">Deny</option>
            <option value="1">Approved</option>
        </select>
    </td>
    </tr>
    
  </table>
