<div class="container-fluid home-back">
    <div class="row">
        <app-usernavbar></app-usernavbar>
        <div class="col-md-6 col-6">
            <div class="mt-3 ml-5 pl-5 mb-5 d-flex flex-column justify-content-end min-vh-90">
                <h1 class="cont-heading">EXQUISITE SHOPPING WITH</h1>
                <h1 class="cont-heading"> EXPERT CARE</h1>
                <button class="btn button">Shop All</button>
            </div>
        </div>
    </div>
</div>
<!--Products-->
<div class="Product-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 mt-5 text-center">
                <h2 class="product-heading">FlipZone Have some exceptional quality, with unmatched attention</h2>
                <h2 class="product-heading mt-2">to social and environmental responsibility.</h2>
            </div>
            <div class="mt-3 col-12 col-md-4">
                <div class="shadow cardd text-center p-2">
                    <img class="mt-2 p-2" src="assets/images/joystick.png" height="120vh">
                    <h4>Sony Playstation 2 joystick (2023)</h4>
                    <h5 class="mt-2">Price: $2000</h5>
                    <div class="d-flex flex-column justify-content-end">
                        <div class="mt-5 d-flex flex-row justify-content-between">
                            <h5 class="ml-3 shadow chip pt-1"><i class="fa-regular fa-heart"></i></h5>
                            <h5 class="mr-3 shadow chip pt-1"><i class="fa-solid fa-cart-shopping"></i></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 col-12 col-md-4">
                <div class="shadow cardd text-center p-2">
                    <img class="mt-2 p-2" src="assets/images/laptop.png" height="120vh">
                    <h4>Apple MacBook Air 2021 (8GB 256GB)</h4>
                    <h5 class="mt-3">Price: $1500</h5>
                    <div class="mt-5 d-flex flex-row justify-content-between">
                        <h5 class="ml-3 shadow d-flex flex-column justify-content-center chip"><i class="fa-regular fa-heart"></i></h5>
                        <h5 class="mr-3 shadow d-flex flex-column justify-content-center  chip"><i class="fa-solid fa-cart-shopping"></i></h5>
                    </div>
                </div>
            </div>
            <div class="mt-3 col-12 col-md-4">
                <div class="shadow cardd text-center p-2">
                    <img class="mt-2 " src="assets/images/iphone.png" height="120vh">
                    <h4>Apple Iphone 11 pro (6GB 512GB)</h4>
                    <h5 class="mt-3">Price: $2000</h5>
                    <div class="mt-5 d-flex flex-row justify-content-between">
                        <h5 class="ml-3 shadow chip pt-1"><i class="fa-regular fa-heart"></i></h5>
                        <h5 class="mr-3 shadow chip pt-1"><i class="fa-solid fa-cart-shopping"></i></h5>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <button class="btn button w-100">Shop All Products</button>
            </div>
        </div>
    </div>
</div>
<!--About Us-->
<div class="mt-3 aboutus">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <h1 class="text-center mt-5" style="color:whitesmoke;">About Us</h1>
            </div>
            <div class="mt-5 col-12 col-md-6">
                <div class="d-flex flex-column justify-content-center min-vh-90">
                    <h3 class="mt-4 text-white">SMALL LOT ELECTRONICS WORTHY OF SNOBBERY</h3>
                    <h5 class="text-white mt-3">Unique small-lot coffees from our globe-spanning network of artisan producers, roasted to perfection and delivered to you each month.</h5>
                    <button class="mt-3 btn button" (click)="redirect()">Read More</button>
                </div>
            </div>
            <div class="mt-3 col-12 col-md-6 min-vh-90">
                <img class="min-vh-90" style="width:100%;" src="assets/images/electronics.jpg">
            </div>
            <div class="mt-5 col-12 col-md-6 order-2">
                <div class="d-flex flex-column justify-content-center min-vh-90">
                    <h3 class="mt-4 text-white">SMALL LOT ELECTRONICS WORTHY OF SNOBBERY</h3>
                    <h5 class="text-white mt-3">Unique small-lot coffees from our globe-spanning network of artisan producers, roasted to perfection and delivered to you each month.</h5>
                    <button class="mt-3 btn button" (click)="redirect()">Read More</button>
                </div>
            </div>
            <div class="mt-3 col-12 col-md-6 min-vh-90 order-1">
                <img class="min-vh-90" style="width:100%;" src="assets/images/main-login-pic.jpg">
            </div>
        </div>
    </div>
</div>
<app-user-footer></app-user-footer>
